*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,4,77,1) 17%, rgba(7,6,94,1) 24%, rgba(8,8,114,1) 32%, rgba(9,9,121,1) 34%, rgba(4,127,199,1) 84%, rgba(0,212,255,1) 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:100vh;
    width:100%;
    background-size:cover;
}

.header{
    font-size: 0.85rem;
    text-align: center;
    margin-top:50px;
}

.todo--wrapper{
    background-color: rgba(2,0,36,1);
    position: absolute;
    left:35%;
    top:20%;
    width:30%;
    padding:30px;

}

.todo--form{
    text-align: center;

}

.todo--input{
    width:80%;
    padding:10px;
    border:none;
    border-radius: 5px 0px 0px 5px;
    outline: none;
}

.todo--btn{
    width:20%;
    padding:10px;
    background-color: rgba(7,6,94,1);
    color:#fff;
    border:none;
    border-radius: 0px 5px 5px 0px;
}
.todo--btn:hover{
    cursor: pointer;
    background-color:rgba(4,127,199,1) ;
}

.todo{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    width:100%;
    background-color: rgba(4,127,199,1);
    color:#fff;
    margin-top:20px;
    border-radius: 5px;
    margin-left: auto;
    padding:15px 10px 10px 15px;
    
}

.icon--edit{
    margin-right:10px;

}

.update--input{
    width:80%;
    margin-top:20px;
    padding:10px 0px 15px 10px;
    border:none;
    border-radius: 5px 0px 0px 5px;
    outline: none;
}

.update--btn{
    width:20%;
    margin-top: auto;
    padding:10px 0px 0px 0px;
    background-color: rgba(7,6,94,1);
    color:#fff;
    border:none;
    border-radius: 0px 5px 5px 0px;
}

.update--btn:hover{
    cursor: pointer;
    background-color:rgba(4,127,199,1) ;
}



@media (max-width:740px){

    .todo--wrapper{
      
        width:70%;
        position: absolute;
        top:20%;
        left:18%;
        padding:30px;
       
      
    
        
    }
}
